<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<nav class="footer-menu">
						<ul class="footer-menu__list">
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Техническое обслуживание</a></li>

							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Слесарный ремонт</a></li>

							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Кузовной ремонт</a></li>

							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Диагностика</a></li>

							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Шиномонтаж</a></li>

							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Сход-развал</a></li>
						</ul>
					</nav>
				</div>

				<div class="col-md-6">
					<div class="footer-contacts">
						<div class="footer-contacts__item">
							<div class="footer-contacts__icon"><img src="img/ic-map.svg" alt=""></div>

							<div class="footer-contacts__text">Россия, Московская область, МКАД 38 км 6Бс1</div>
						</div>
						
						<div class="footer-contacts__item">
							<div class="footer-contacts__icon"><img src="img/ic-phone.svg" alt=""></div>

							<div class="footer-contacts__text">+7 (495) 204-33-43<br>8 (800) 200-44-58</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__bottom-content">
						<nav class="bottom-menu">
							<ul class="bottom-menu__list">
								<li class="bottom-menu__item"><a href="#" class="bottom-menu__link">О нас</a></li>
								<li class="bottom-menu__item"><a href="#" class="bottom-menu__link">Акции</a></li>
							</ul>
						</nav>

						<div class="footer__copyright-wrap">
							<span class="footer__copyright">ABC-SERVICE @ 2019. Все права защищены</span><img src="img/logo-small.png" alt="" class="footer__logo">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Попап об успешной отправки письма -->
<div style="display: none;" id="msg-success" class="success-alert">
	<div class="success-alert__text">Ваше сообщение успешно отправлено!</div>
</div>