/*-------------- brend -----------------*/
.brand{
	text-align: center;

	&__item{
		margin-bottom: 60px;

		img{
			opacity: 0.5;
			cursor: pointer;
			transition: all 0.2s ease;
		}

		img:hover{
			opacity: 1;
		}
	}
}

@media (max-width: 574px) {
	.brand{
		&__item{
			margin-bottom: 40px;
		}
	}
}