/*-------------- contacts- -----------------*/
.contacts{
	margin-top: 50px;

	&__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__icon{
		width: 50px;
	}

	&__content{
		width: calc(100% - 70px);
	}

	&__title{
		@include font(normal, 600, 16px, 1.2, #000);
	}

	&__text{
		@include font(normal, normal, 16px, 1.2, #a4a4a4);
		margin-top: 3px;
	}

	.btn{
		width: 100%;
		min-width: auto;
	}
}

@media (max-width: 991px) {
	.contacts{
		.btn{
			display: block;
			width: 250px;
			margin: 20px auto 0;
		}
	}
}

@media (max-width: 767px) {
	.contacts{
		&__item{
			margin-bottom: 20px;
		}

		.btn{
			margin-left: 0;
		}
	}
}