/*-------------- footer-menu -----------------*/
.footer-menu{
	&__list,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list{
		column-count: 2;
		column-gap: 30px;
	}

	&__item{
		margin-bottom: 16px;
	}

	&__link{
		@include font(normal, 600, 14px, 1.2, #fff);
		text-transform: uppercase;
		text-decoration: none;
	}

	&__item:hover &__link{
		color: $color-grey;
	}
}