/*-------------- repair-estimate -----------------*/
.repair-estimate{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $color-red;
	padding: 60px 70px;
	color: #fff;
	margin-bottom: 97px;

	p, .h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6{color: #fff;}

	.h1,
	h1{
		max-width: 670px;
		padding-right: 30px;
		text-align: left;
		margin: 0;
	}
}

@media (max-width: 991px) {
	.repair-estimate{
		padding: 40px;
	}
}

@media (max-width: 767px) {
	.repair-estimate{
		display: block;
		margin-bottom: 60px;

		.h1,
		h1{
			max-width: 100%;
			padding-right: 0;
			margin-bottom: 15px;
		}
	}
}