/*-------------- sale -----------------*/
.sale-list{
	margin-top: 27px;

	&__item{
		display: block;
		width: 100%;
		min-height: 380px;
		text-decoration: none;
		position: relative;
		margin-bottom: 30px;
	}

	&__item::before{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(17, 17, 17, 0.5);
		position: absolute;
		top: 0;
		left: 0;
	}

	&__item:hover::before{
		background: rgba(17, 17, 17, 0.25);
	}

	&__content{
		width: 100%;
		position: relative;
		padding: 47px 50px;
	}

	&__date{
		@include font(normal, 600, 16px, 1.2, #fff);
		text-transform: uppercase;
		margin-bottom: 72px;
		// padding-right: 35px;
	}

	&__date::before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		margin-right: 15px;
		background: url(#{$path-icon}/ic-alarm.svg) no-repeat center;
	}

	&__name{
		@include font(normal, 600, 28px, 1.2, #fff);
	}

	&__item--big{
		display: flex;
		align-items: center;
		min-height: 560px;
		text-align: center;
	}

	&__item--big &__date{
		font-size: 20px;
		margin-bottom: 27px;
	}

	&__item--big &__name{
		max-width: 700px;
		font-size: 40px;
		margin: 0 auto;
	}

	&__item--border::before,
	&__item--color::before{
		display: none;
	}

	&__item--border{
		border: 3px solid #e5e5e5;
	}

	&__item--border &__date,
	&__item--border &__name{
		color: $color-text;
	}

	&__item--border &__date::before{
		background-image: url(#{$path-icon}/ic-alarm-color.svg);
	}

	&__item--border:hover{
		border-color: $color-text;
	}

	&__item--color{
		background: $color-red;
	}

	&__item--color:hover{
		background: $color-red-light;
	}
}