/*-------------- sale-popup -----------------*/
.sale-popup{
	padding: 70px 50px;
	width: 1170px;

	&__content{
		display: flex;
		justify-content: space-between;
	}

	&__img,
	&__desc,
	.form-site{
		padding: 0 15px;
	}

	&__img{
		width: 30%;
	}

	&__desc{
		width: 40%;
	}

	.form-site{
		width: 26%;
		min-width: 240px;
	}

	.form-site__fields{
		display: block;
		margin-top: 0;
	}

	.form-site input[type="text"],
	.form-site input[type="email"]{
		margin-right: 0;
		margin-bottom: 20px;
		width: 100%;
	}

	.form-site .btn{
		width: 100%;
	}

	&__head{
		@include font(normal, 600, 40px, 1, $color-text);
		margin-top: -6px;
	}

	&__desc{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.syotimer-cell__unit{
		margin-bottom: -3px;
	}
}

@media (max-width: 1229px) {
	.sale-popup{
		padding: 70px 30px;

		.btn,
		input[type="submit"].btn{
			min-width: 100px;
		}
	}
}

@media (max-width: 991px) {
	.sale-popup{
		&__img{
			display: none;
		}

		&__desc{
			width: 60%;
		}

		 .form-site{
			width: 40%;
		}
	}
}

@media (max-width: 767px) {
	.sale-popup{
		padding: 40px 15px;

		&__content{
			display: block;
		}

		&__desc,
		.form-site{
			padding: 0;
			width: 100%;
		}

		&__head{
			font-size: 35px;
			text-align: center;
		}

		.syotimer__body{
			justify-content: center;
			margin-bottom: 40px;
		}

		.form-site input[type="text"],
		.form-site input[type="email"]{
			margin-bottom: 10px;
		}
	}
}