/*-------------- slider-top -----------------*/
.slider-top{
	display: none;
	margin-bottom: 90px;

	&.slick-initialized{
		display: block;
	}

	&__item{
		display: flex!important;
		align-items: flex-end;
		height: 825px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
	}
	

	&__item::before{
		content: '';
		display: block;
		height: 100px;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin:  0 auto;
	}

	&__item::after{
		content: '';
		display: block;
		height: 80px;
		background: $color-red;
		position: absolute;
		bottom: 100px;
		left: 0;
		right: 0;
		margin:  0 auto;
	}

	&__content{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 100px;
		position: relative;
		z-index: 2;
	}

	&__desc,
	&__price{
		background: $color-text;
		position: relative;
	}

	&__desc{
		max-width: 585px;
		padding: 50px 30px 53px 90px;
	}

	&__bg-left{
		display: inline-block;
		width: 138px;
		height: 100%;
		position: absolute;
		left: 100%;
		top: 0;
	}

	&__bg-right{
		display: inline-block;
		width: 85px;
		height: 100%;
		position: absolute;
		right: 100%;
		top: 0;
	}

	&__head{
		@include font(normal, 600, 60px, 1, #fff);
		text-transform: uppercase;
	}

	&__text{
		@include font(normal, 600, 24px, 1.2, #fff);
		margin-top: 20px;
	}

	&__price{
		@include font(normal, 600, 60px, 1, #fff);
		text-transform: uppercase;
		padding: 50px 75px 53px 82px;
	}

	&__price-num{
		color: $color-red;
	}

	.slick-dots,
	.slick-dots li{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.slick-dots li::before{
		display: none;
	}

	.slick-dots{
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 40px;
		margin: 0 auto;
	}

	.slick-dots button{
		display: inline-block;
		width: 40px;
		height: 4px;
		border: 0;
		outline: 0;
		background: #fff;
		opacity: 0.6;
		margin: 0 10px;
		font-size: 0;
		transition: all 0.3s ease;
		cursor: pointer;
	}

	.slick-dots .slick-active button,
	.slick-dots button:hover{
		width: 60px;
		opacity: 1;
	}
}

@media (max-width: 1299px) {
	.slider-top{
		&__price,
		&__head{
			font-size: 50px;
		}

		&__text{
			font-size: 20px;
		}

		&__desc,
		&__price{
			padding: 50px 30px;
			max-width: 50%;
		}
	}
}

@media (max-width: 991px) {
	.slider-top{
		&__content{
			position: relative;
			align-items: flex-end;
		}

		&__desc{
			position: absolute;
			bottom: 165px;
			left: 0;
		}

		&__price{
			position: absolute;
			bottom: 0;
			right: 0;
		}

		&__desc,
		&__price{
			max-width: 80%;
		}
	}
}

@media (max-width: 767px) {
	.slider-top{
		&__item{
			height: 405px;
		}

		.slick-dots{
			bottom: 20px;
		}

		.slick-dots button{
			width: 25px;
		}

		.slick-dots .slick-active button,
		.slick-dots button:hover{
			width: 40px;
		}

		&__content{
			display: block;
			margin-bottom: 60px;
		}

		&__item::after{
			display: none;
		}

		&__desc,
		&__price{
			position: static;
			max-width: 100%;
			width: 100%;
			background: rgba(34,34,34,0.7);
			padding: 15px;
		}

		.slick-slide &__bg-left,
		.slick-slide &__bg-right{
			display: none;
		}

		&__price,
		&__head{
			font-size: 35px;
		}

		&__text{
			font-size: 16px;
		}
	}
}