/*-------------- Footer -----------------*/
.footer{
	background: $color-text;
	border-top: 1px solid #444;

	&__top{
		padding: 85px 0;
	}

	&__bottom-content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 18px 0 23px;
		border-top: 1px solid #444;
	}

	&__copyright{
		@include font(normal, 600, 12px, 1.25, #909090);
		text-transform: uppercase;
		margin-right: 15px;
	}
}

.footer-contacts{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;

	&__item{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		max-width: 51%;
	}

	&__icon{
		width: 50px;
		margin-right: 20px;
	}

	&__text{
		max-width: calc(100% - 70px);
		@include font(normal, normal, 16px, 1.5, #909090);
	}
}