//Path
$path-img: "../img";
$path-icon: "../img/icon";
$path-fonts: "../fonts";

//Font
$font-site: 'Proxima', Arial, sans-serif;

// Site
$color-text: #222222;
$color-red: #e23535;
$color-red-light: #EF3939;
$color-grey: #909090;