<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="content">
								<div class="content__item"><a href="main.html">Главная</a></div>
								<div class="content__item"><a href="body-repair.html">Кузовной ремонт</a></div>
								<div class="content__item"><a href="services.html">Услуги</a></div>
								<div class="content__item"><a href="select-parts.html">Подбор запчастей</a></div>
								<div class="content__item"><a href="tipografika.html">Типографика</a></div>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
