<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<section class="slider-top js-slider-top">
					<div class="slider-top__item" style="background-image: url(img/slider-top1.jpg);">
						<div class="slider-top__content">
							<div class="slider-top__desc">
								<div class="slider-top__head">Шиномонтаж</div>

								<div class="slider-top__text">При единовременном прохождении в&nbsp;апреле Вы получаете специальную цену на монтаж</div>

								<img src="img/triangle-left.png" alt=""  class="slider-top__bg-left">
							</div>

							<div class="slider-top__price">
								От <span class="slider-top__price-num">2000</span> руб
								<img src="img/triangle-right.png" alt=""  class="slider-top__bg-right">
							</div>
						</div>
					</div>

					<div class="slider-top__item" style="background-image: url(img/slider-top2.jpg);">
						<div class="slider-top__content">
							<div class="slider-top__desc">
								<div class="slider-top__head">Покраска</div>

								<div class="slider-top__text">При единовременном прохождении в&nbsp;апреле Вы получаете специальную цену на монтаж. При единовременном прохождении в&nbsp;апреле Вы получаете специальную цену на монтаж</div>

								<img src="img/triangle-left.png" alt=""  class="slider-top__bg-left">
							</div>

							<div class="slider-top__price">
								От <span class="slider-top__price-num">1500</span> руб
								<img src="img/triangle-right.png" alt=""  class="slider-top__bg-right">
							</div>
						</div>
					</div>

					<div class="slider-top__item" style="background-image: url(img/slider-top1.jpg);">
						<div class="slider-top__content">
							<div class="slider-top__desc">
								<div class="slider-top__head">Шиномонтаж2</div>

								<div class="slider-top__text">При единовременном прохождении</div>

								<img src="img/triangle-left.png" alt=""  class="slider-top__bg-left">
							</div>

							<div class="slider-top__price">
								От <span class="slider-top__price-num">2500</span> руб
								<img src="img/triangle-right.png" alt=""  class="slider-top__bg-right">
							</div>
						</div>
					</div>

					<div class="slider-top__item" style="background-image: url(img/slider-top2.jpg);">
						<div class="slider-top__content">
							<div class="slider-top__desc">
								<div class="slider-top__head">Покраска2</div>

								<div class="slider-top__text">При единовременном прохождении в&nbsp;апреле Вы получаете специальную цену на монтаж. При единовременном прохождении</div>

								<img src="img/triangle-left.png" alt=""  class="slider-top__bg-left">
							</div>

							<div class="slider-top__price">
								От <span class="slider-top__price-num">4500</span> руб
								<img src="img/triangle-right.png" alt=""  class="slider-top__bg-right">
							</div>
						</div>
					</div>
				</section><!-- end slider-top -->

				<!-- section. -->


			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
