<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Акции</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h1>Акции</h1>
						</div>
					</div>
				</div>

				<section class="sale-list">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<a href="#" class="sale-list__item sale-list__item--big" style="background-image: url(img/sale1.jpg);">
									<div class="sale-list__content">
										<div class="sale-list__date">до 30.10.2019</div>

										<div class="sale-list__name">Дружба, проверенная временем. Выгоды на сервис до 30% на работы и 10% на запчасти.</div>
									</div>
								</a>
							</div>

							<div class="col-sm-6">
								<a href="#" class="sale-list__item" style="background-image: url(img/sale2.jpg);">
									<div class="sale-list__content">
										<div class="sale-list__date">до 24.10.2019</div>

										<div class="sale-list__name">Если Техническое Обслуживание - то в ABC-SERVICE/ Бонус: Шиномонтаж за 1500 руб.</div>
									</div>
								</a>
							</div>
						

							<div class="col-sm-6">
								<a href="#" class="sale-list__item sale-list__item--border">
									<div class="sale-list__content">
										<div class="sale-list__date">до 12.10.2019</div>

										<div class="sale-list__name">Чистка дроссельной заслонки по специальной цене!</div>
									</div>
								</a>
							</div>

							<div class="col-sm-6">
								<a href="#" class="sale-list__item sale-list__item--color">
									<div class="sale-list__content">
										<div class="sale-list__date">до 28.09.2019</div>

										<div class="sale-list__name">Комплексная диагностика SKODA за 4500 руб.</div>
									</div>
								</a>
							</div>

							<div class="col-sm-6">
								<a href="#" class="sale-list__item" style="background-image: url(img/sale3.jpg);">
									<div class="sale-list__content">
										<div class="sale-list__date">Акции закончилась</div>

										<div class="sale-list__name">Первый раз у нас? Выгода 20% на сервис в ABC-SERVICE</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</section><!-- end sale-list -->

				<section class="subscribe-wrap">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-5 offset-lg-1">
								<div class="subscribe-wrap__head">Подпишись и узнавай первым о наших акциях</div>
							</div>

							<div class="col-lg-5">
								<div class="subscribe-form">
									<form action="">
										<div class="subscribe-form__content">
											<input type="email" data-icon="email" placeholder="Email">
											<input type="submit" class="btn" value="Подписаться">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end subscribe-wrap -->

				<section class="sale-list">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<a href="#" class="sale-list__item sale-list__item--big" style="background-image: url(img/sale1.jpg);">
									<div class="sale-list__content">
										<div class="sale-list__date">до 30.10.2019</div>

										<div class="sale-list__name">Дружба, проверенная временем. Выгоды на сервис до 30% на работы и 10% на запчасти.</div>
									</div>
								</a>
							</div>

							<div class="col-sm-6">
								<a href="#" class="sale-list__item sale-list__item--border">
									<div class="sale-list__content">
										<div class="sale-list__date">до 12.10.2019</div>

										<div class="sale-list__name">Чистка дроссельной заслонки по специальной цене!</div>
									</div>
								</a>
							</div>

							<div class="col-sm-6">
								<a href="#" class="sale-list__item" style="background-image: url(img/sale2.jpg);">
									<div class="sale-list__content">
										<div class="sale-list__date">до 24.10.2019</div>

										<div class="sale-list__name">Если Техническое Обслуживание - то в ABC-SERVICE/ Бонус: Шиномонтаж за 1500 руб.</div>
									</div>
								</a>
							</div>

							<div class="col-sm-6">
								<a href="#" class="sale-list__item sale-list__item--color">
									<div class="sale-list__content">
										<div class="sale-list__date">до 28.09.2019</div>

										<div class="sale-list__name">Комплексная диагностика SKODA за 4500 руб.</div>
									</div>
								</a>
							</div>

							<div class="col-sm-6">
								<a href="#" class="sale-list__item" style="background-image: url(img/sale3.jpg);">
									<div class="sale-list__content">
										<div class="sale-list__date">Акции закончилась</div>

										<div class="sale-list__name">Первый раз у нас? Выгода 20% на сервис в ABC-SERVICE</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</section><!-- end sale-list -->

				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="pager">
								<a href="#" class="pager__item active">1</a>
								<a href="#" class="pager__item">2</a>
								<a href="#" class="pager__item">3</a>
								<a href="#" class="pager__item">4</a>
								<a href="#" class="pager__item">...</a>
								<a href="#" class="pager__item">9</a>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
