<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Акции детальная</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<section class="sale-detail">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="sale-detail__head">Дружба, проверенная временем. Выгоды на сервис до 30% на работы и 10% на запчасти.</div>

								<div class="sale-detail__date">до 30.10.2019</div>

								<div class="sale-detail__photo"><img src="img/sale-detail.jpg" alt=""></div>

								<div class="sale-detail__text">
									<p>Количество загрязнений на дороге и на тротуаре сильно различается — их концентрация на проезжей части просто колоссальная. Чтобы водители и пассажиры не дышали этими отравляющими веществами, стали применять салонные фильтры.</p>

									<div class="h2">От чего защищает салонный фильтр?</div>

									<ul>
										<li>От выхлопа других автомобилей, тополиного пуха, пыльцы и разнообразной пыли, которая может попасть в салон.</li>

										<li>От запаха «незамерзайки», а именно изопропанола, из которого делают зимние стеклоомывающие жидкости. Если дышать парами такой «незамерзайки», возникает головная боль, раздражаются органы дыхания, глаза. Салонный фильтр с содержанием активированного угля снижает концентрацию изопропанола в несколько раз (обычный пылевой фильтр справляется с этой задачей хуже), хотя и не «убивает» все вредные вещества полностью. Особенно высокая концентрация вредных веществ возникает в первые 5 секунд при подаче незамерзающей жидкости на стекла, так что рекомендуется пользоваться ей только на ходу и/или предварительно включив рециркуляцию.</li>

										<li>От NO2 или диоксида азота, который также представляет опасность для водителя и пассажиров. При вдыхании небольшого количества растет сопротивление дыхательных путей — даже здоровым людям будет труднее дышать. Качественный салонный фильтр с угольным наполнением снижает его концентрацию в 25-100 раз.</li>

										<li>От углеводородов СН, составляющих с диоксидом азота основу городского смога. Большинство салонных фильтров с активированным углем урезают его концентрацию вдвое.</li>
									</ul>

									<div class="notice">Следует знать, что ни один салонный фильтр не делают из бумаги. Этот запрет прописан во многих технических требованиях, так как целлюлоза создает благоприятные условия для размножения бактерий. Также автопроизводители хотят, чтобы материал не поддерживал горение. Поэтому современный салонный фильтр изготавливается только из нетканого синтетического фильтровального материала.</div>

									<div class="h2">Почему угольный фильтр лучше других?</div>

									<p>Если стоит вопрос, какой салонный фильтр лучше покупать, берите угольный. Обычный пылевой фильтр — это экономия на собственном здоровье.</p>

									<p>Активированный уголь — это не маркетинговый обман, а работающая вещь, когда речь идет о качественных фильтрах именитых фирм. Активированный уголь способен смягчить удар от вдыхания загрязняющих веществ. Микропоры активированного угля адсорбируют из воздуха крупные молекулы токсичных газов: диоксида азота, легких углеводородов (метан, пропан, бутан), ароматических углеводородов и паров спирта (как метилового, так и изопропилового).</p>

									<p>Да, он не улавливает угарный газ и другие вредные вещества с малым размером молекул. Но для борьбы с ними во многих современных автомобилях есть датчики качества воздуха, управляющие заслонкой рециркуляции в автоматическом режиме.</p>

									<p>Простая система кондиционирования не снижает содержание загрязняющих веществ в салоне, а лишь создает ложную иллюзию безопасности: комфортны только температура и влажность воздуха, а концентрация вредных веществ внутри даже выше, чем снаружи!</p>
								</div>

								<div class="sale-detail__share">
									<div class="share">
										<div class="share__label">Поделиться:</div>

										<div class="share__list">
											<a href="#" class="share__item share__item--vk"><img src="img/icon/ic-vk.svg" alt=""></a>

											<a href="#" class="share__item share__item--fb"><img src="img/icon/ic-fb.svg" alt=""></a>

											<a href="#" class="share__item share__item--tw"><img src="img/icon/ic-tw.svg" alt=""></a>
										</div>
									</div>

									<a href="#" class="btn">Записаться на сервис</a>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end sale-detail -->

				<section class="other-sale">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1">Вас также может заинтересовать</div>
							</div>
						</div>

						<section class="sale-list">
							<div class="row">
								<div class="col-6">
									<a href="#" class="sale-list__item" style="background-image: url(img/sale2.jpg);">
										<div class="sale-list__content">
											<div class="sale-list__date">до 24.10.2019</div>

											<div class="sale-list__name">Если Техническое Обслуживание - то в ABC-SERVICE/ Бонус: Шиномонтаж за 1500 руб.</div>
										</div>
									</a>
								</div>

								<div class="col-6">
									<a href="#" class="sale-list__item sale-list__item--border">
										<div class="sale-list__content">
											<div class="sale-list__date">до 12.10.2019</div>

											<div class="sale-list__name">Чистка дроссельной заслонки по специальной цене!</div>
										</div>
									</a>
								</div>
							</div>
						</section><!-- end sale-list -->
					</div>
				</section>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
