<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Подбор запчастей</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<section class="select-parts">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="select-parts__content">
									<h1>Подбор запчастей</h1>

									<div class="select-parts__text">Не знаете номер запчасти? Заполните форму. Мы поможем вам с подбором.</div>

									<div class="form-site js-valid-form">
										<form method="get">
											<div class="form-site__content">
												<div class="form-site__fields">
													<input type="text" placeholder="Ваше имя" required="required">

													<input type="text" class="js-phone" placeholder="Телефон" required="required">

													<input type="email" placeholder="E-mail">

													<input type="text" placeholder="VIN">

													<input type="text" placeholder="Автомобиль" class="form-site__input-middle">

													<textarea class="form-site__input-full" placeholder="Список запчастей"></textarea>
												</div>

												<div class="advant-select">
													<div class="advant-select__list">
														<div class="advant-select__item">
															<div class="advant-select__icon"><img src="img/advant1.svg" alt=""></div>

															<div class="advant-select__text">Большой выбор запчастей на складе и под заказ</div>
														</div>

														<div class="advant-select__item">
															<div class="advant-select__icon"><img src="img/advant2.svg" alt=""></div>

															<div class="advant-select__text">Профессиональный подбор</div>
														</div>

														<div class="advant-select__item">
															<div class="advant-select__icon"><img src="img/advant3.svg" alt=""></div>

															<div class="advant-select__text">Оперативная доставка по всей России</div>
														</div>
													</div>

													<input type="submit" name="Оставить заявку" class="btn">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end select-parts -->

				<section>
					<div class="container">
						<div class="row">
							<div class="col-6">
								<div class="info-block">
									<div class="info-block__title">Как мы</div>

									<div class="info-block__content">
										<div class="info-block__subtitle">работаем</div>

										<div class="info-block__text js-read-more" data-count="1000">
											<p>Покупка автозапчастей вследствие поломки автомобиля все чаще и чаще заставляет автовладельцев отказываться от скучных и далеко не всегда эффективных походов на авторынки и  автомагазины. Это связано с тем, что нужной запчасти может не быть в наличии или имеющаяся будут не соответствует желаемой цене или качеству. Каталог подбора по автомобилю позволит не только ускорить покупку нужной Вам детали, но и даст возможность выбрать вариант из огромного ассортимента автозапчастей предоставленного в нашем магазине не выходя из дома.</p>

											<p>Каталог рассчитан на автовладельцев, которые хотят купить запчасть достаточно хорошего качества по приемлемой цене. Для того что бы пользоваться данным каталогом, достаточно знать марку, модель, год и объем двигателя своего авто. Эта информация изложена в техническом паспорте автомобиля. Более подробная информация, которая будет способствовать точному подбору, находиться в сервисной книге искомого авто.</p>

											<p>Покупка автозапчастей вследствие поломки автомобиля все чаще и чаще заставляет автовладельцев отказываться от скучных и далеко не всегда эффективных походов на авторынки и  автомагазины. Это связано с тем, что нужной запчасти может не быть в наличии или имеющаяся будут не соответствует желаемой цене или качеству. Каталог подбора по автомобилю позволит не только ускорить покупку нужной Вам детали, но и даст возможность выбрать вариант из огромного ассортимента автозапчастей предоставленного в нашем магазине не выходя из дома.</p>

											<p>Каталог рассчитан на автовладельцев, которые хотят купить запчасть достаточно хорошего качества по приемлемой цене. Для того что бы пользоваться данным каталогом, достаточно знать марку, модель, год и объем двигателя своего авто. Эта информация изложена в техническом паспорте автомобиля. Более подробная информация, которая будет способствовать точному подбору, находиться в сервисной книге искомого авто.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-6">
								<img src="img/how-work.jpg" alt="">
							</div>
						</div>
					</div>
				</section>

				
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
