<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Услуги</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<section>
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="info-block">
									<div class="info-block__title">Техническое</div>

									<div class="info-block__content">
										<div class="info-block__subtitle"> обслуживание</div>

										<div class="info-block__text js-read-more" data-count="970">
											<p>Своевременное техническое обслуживание помогает выявить имеющиеся неисправности, значительно снизить затраты автовладельца на топливо, а также продлевает срок службы автомобиля. Все это позволяет экономить денежные средства и время владельца железного коня. Важным фактором, влияющим на периодичность выполнения ТО, являются условия эксплуатации автомобиля.</p>

											<p>При выполнении технического обслуживания в сервисных центрах «РОЛЬФ» мы гарантируем, что вашим авто будет заниматься только квалифицированный и внимательный персонал, мы будем использовать только оригинальные комплектующие и расходные материалы, дополнительные и скрытые затраты будут полностью исключены, а все работы будут выполнены максимально быстро, чтобы вы не испытывали неудобства, вызванного отсутствием авто.</p>

											<p>Плановое техническое обслуживание автомобиля необходимо техническое обслуживание помогает выявить имеющиеся неисправности, значительно снизить затраты автовладельца на топливо, а также продлевает срок службы автомобиля. Все это позволяет экономить денежные средства и время владельца железного коня. Важным фактором, влияющим на периодичность выполнения ТО, являются условия эксплуатации автомобиля.</p>

											<p>При выполнении технического обслуживания в сервисных центрах «РОЛЬФ» мы гарантируем, что вашим авто будет заниматься только квалифицированный и внимательный персонал, мы будем использовать только оригинальные комплектующие и расходные материалы, дополнительные и скрытые затраты будут полностью исключены, а все работы будут выполнены максимально быстро, чтобы вы не испытывали неудобства, вызванного отсутствием авто.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<img src="img/to.jpg" alt="">
							</div>
						</div>
					</div>
				</section>

				//= ../partials/calc.html

				<section class="popular-service">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="popular-service__content">
									<div class="popular-service__head">Популярные услуги по ТО</div>

									<div class="popular-service__list">
										<a href="#" class="popular-service__item">Беспокрасочное удаления вмятин</a>

										<a href="#" class="popular-service__item">Наше портфолио</a>

										<a href="#" class="popular-service__item">Покраска капота</a>

										<a href="#" class="popular-service__item">Рамонт и покраска бампера</a>

										<a href="#" class="popular-service__item">Удаление вмятин</a>

										<a href="#" class="popular-service__item">Удаление сколков и царапин</a>

										<a href="#" class="popular-service__item">Удаление сколков и трещин</a>

										<a href="#" class="popular-service__item">Удаление вмятин с покраской</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end popular-service -->
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
